%ul.breadcrumb
  = render_breadcrumbs tag: :li, separator: ''
.panel.panel-default
  .panel-heading
    %strong
      %span.glyphicon{aria: {hidden: true}, class: "#{question.glyphicon}"}
      = question.category_s
  .panel-body
    = question.question
    - if question.image.present?
      .row
        .col-sm-offset-5.col-sm-2.col-xs-6.col-xs-offset-3
          = image_tag(question.image.url(:thumb), class: 'img-responsive img-thumbnail')
  .list-group
    - ( 1 .. 4).each do |n|
      - if question["answer_#{n}"].present?
        .list-group-item
          .row-action-primary
            = link_to answer_training_url(question, n) do
              %i.material-icons
                - case n
                - when 1
                  looks_one
                - when 2
                  looks_two
                - when 3
                  looks_3
                - else
                  looks_4
          .row-content
            .list-group-item-text
              = link_to answer_training_url(question, n), class: 'btn btn-no-upper' do
                = question["answer_#{n}"]
        - if n < 4
          .list-group-separator

= "#{current_user.percent_training}%"
completado
.progress
  .progress-bar{role: 'progressbar', aria: {valuenow: current_user.percent_training, valuemin: 0, valuemax: 100}, style: "width: #{current_user.percent_training == 0 ? "2" : current_user.percent_training}%;", class: "#{current_user.percent_training < 20 ? "progress-bar-danger" : ( current_user.percent_training < 70 ? "progress-bar-warning" : "progress-bar-success" )}"}
