.panel.panel-default
  .panel-heading
    %strong
      %span.glyphicon.glyphicon-usd{aria: {hidden: true}}
      / warning-sign road usd
      Ley de transito
  .panel-body
    Cuando en la ley de transporte terrestre, transito y seguridad vial, se refiere a terminos de transporte terrestre, transito y seguridad vial. ¿se refiere a?
  .list-group
    .list-group-item
      .contain-i-e-s
        .row-action-primary
          %i.material-icons
            looks_one
        .row-content
          %p.list-group-item-text
            = link_to nil, class: 'btn btn-no-upper' do
              Materia de transito
    .list-group-separator
    .list-group-item
      .row-action-primary
        %i.material-icons
          looks_two
      .row-content
        %p.list-group-item-text
          = link_to nil, class: 'btn btn-no-upper' do
            Materia de transito
    .list-group-separator
    .list-group-item
      .row-action-primary
        %i.material-icons
          looks_3
      .row-content
        %p.list-group-item-text
          = link_to nil, class: 'btn btn-no-upper' do
            Materia de transito
    .list-group-separator
    .list-group-item
      .row-action-primary
        %i.material-icons
          looks_4
      .row-content
        %p.list-group-item-text
          = link_to nil, class: 'btn btn-no-upper' do
            Materia de transito



/ success
%br
%br
%br
%br
.panel.panel-success
  .panel-heading
    %strong
      %span.glyphicon.glyphicon-usd{aria: {hidden: true}}
      / warning-sign road usd
      Ley de transito
  .panel-body
    Cuando en la ley de transporte terrestre, transito y seguridad vial, se refiere a terminos de transporte terrestre, transito y seguridad vial. ¿se refiere a?
  .list-group
    .list-group-item.success
      .row-action-primary
        %i.material-icons
          check_circle
      .row-content
        %p.list-group-item-text
          = link_to 'javascript:void(0)', class: 'btn btn-no-upper' do
            Materia de transito
    .list-group-separator
    .list-group-item
      .row-action-primary
        %i.material-icons
          looks_two
      .row-content
        %p.list-group-item-text
          = link_to 'javascript:void(0)', class: 'btn btn-no-upper' do
            Materia de transito
    .list-group-separator
    .list-group-item
      .row-action-primary
        %i.material-icons
          looks_3
      .row-content
        %p.list-group-item-text
          = link_to 'javascript:void(0)', class: 'btn btn-no-upper' do
            Materia de transito
    .list-group-separator
    .list-group-item
      .row-action-primary
        %i.material-icons
          looks_4
      .row-content
        %p.list-group-item-text
          = link_to 'javascript:void(0)', class: 'btn btn-no-upper' do
            Materia de transito
    %div.text-right
      = link_to "Siguiente pregunta", nil, class: 'btn'




/ fail
%br
%br
%br
%br
.panel.panel-danger
  .panel-heading
    %strong
      %span.glyphicon.glyphicon-usd{aria: {hidden: true}}
      / warning-sign road usd
      Ley de transito
  .panel-body
    Cuando en la ley de transporte terrestre, transito y seguridad vial, se refiere a terminos de transporte terrestre, transito y seguridad vial. ¿se refiere a?
  .list-group
    .list-group-item.success
      .contain-i-e-s
        .row-action-primary
          %i.material-icons
            check_circle
        .row-content
          %p.list-group-item-text
            = link_to 'javascript:void(0)', class: 'btn btn-no-upper' do
              Materia de transito
    .list-group-separator
    .list-group-item.danger
      .row-action-primary
        %i.material-icons
          error
      .row-content
        %p.list-group-item-text
          = link_to 'javascript:void(0)', class: 'btn btn-no-upper' do
            Materia de transito
    .list-group-separator
    .list-group-item
      .row-action-primary
        %i.material-icons
          looks_3
      .row-content
        %p.list-group-item-text
          = link_to 'javascript:void(0)', class: 'btn btn-no-upper' do
            Materia de transito
    .list-group-separator
    .list-group-item
      .row-action-primary
        %i.material-icons
          looks_4
      .row-content
        %p.list-group-item-text
          = link_to 'javascript:void(0)', class: 'btn btn-no-upper' do
            Materia de transito
    %div.text-right
      = link_to "Siguiente pregunta", nil, class: 'btn'
